<h1>Create New Post</h1> 
<form action="<%=posts_url%>" method="post"> 

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"> 

  <label> 
    Title: 
    <input type="text" name="post[title]" value=""> 
  </label> 

  <% @subs.each do |sub| %> 
    <label> 
        <input type="checkbox" 
          name="post[sub_ids][]" 
          value="<%= sub.id %>"> <%= sub.title %> 
    </label> 
  <% end %> 
</form> 
